In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A': range(3), 'B': range(1, 4)})

In [4]:
df

   A  B
0  0  1
1  1  2
2  2  3

In [5]:
df.transform(lambda x: x + 1)

   A  B
0  1  2
1  2  3
2  3  4

In [6]:
s = pd.Series(range(3))

In [7]:
s

0    0
1    1
2    2
dtype: int64

In [8]:
s.transform([np.sqrt, np.exp])

       sqrt       exp
0  0.000000  1.000000
1  1.000000  2.718282
2  1.414214  7.389056